* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  .nav-bar {
    height: 80px;
    background-color: #f5f3f1e0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }

  .logo1 {
    height: 100%;
    width: 10%;
    background-image: url("government-of-india.jpg");
    background-size: cover;
  }

  .logo2 {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
  }

  .heading {
    flex: 1;
    text-align: center;
    margin: 0;
    font-family: cursive;
  }

  .panel {
    font-style: inherit;
    background-color: #f9f9fb;
    height: 40px;
    display: flex;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    line-height: 1em;
    font-weight: 300;
    width: 100%;
  }

  .panel-all {
    margin-left: 2%;
  }

  .border {
    border-radius: 2px;
  }

  .border:hover {
    box-shadow: #212427;
    cursor: pointer;
  }

  .panel-items p {
    display: inline;
    color: black;
    margin-left: 2%;
  }

  .panel-items {
    width: 80%;
    align-items: flex-end;
  }

  .nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 40px;
    background-color: rgb(229, 251, 152);
    border-radius: 4px;
    margin-right: 2%;
    margin-left: 4%;
  }

  .nav-search2 {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    height: 40px;
    background-color: rgb(229, 251, 152);
    border-radius: 4px;
    margin-right: 2%;
  }

  .search_select {
    background-color: #f3f3f3;
    width: 15%;
    padding: 2%;
    border: none;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    color: #0f1111;
  }

  .search_input {
    width: 80%;
    font-size: 1rem;
    border: none;
  }

  .search_icon {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgba(255, 162, 0, 0.874);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 4px;
  }

  .nav-search, .nav-search2:hover {
    border: 2px solid orange;
  }

  .text {
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 4%;
  }

  .sub-text {
    margin-top: 2%;
  }

  .the-main {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }

  .graph {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 50%;
  }

  .transaction_panel {
    
    background-color: rgb(235, 235, 235);
    padding: 20px 25px 10px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 2%;
    width: 100%;
    height: 100%;
    
    scale: 80%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }

  input[type="submit"] {
    background-color: rgba(255, 162, 0, 0.874);
    color: aliceblue;
    width: 90%;
    padding: 10px 5px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: rgba(234, 184, 98, 0.874);
  }

  .pay-now-button {
    margin-top: 10%;
    margin-bottom: 4%;
    margin-left: 8%;
  }

  .maps, .table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px; /* You can adjust this value based on your needs */
    width: 100%;
  }
  
  iframe {
    width: 80%;
    height: 650px; /* You can adjust this value based on your needs */
  }

  
  
  